.page-content {
    padding: 0;
    flex: 1 0 auto;
}

.site-header {
    border-top: 4px solid $border-color-03;
    border-bottom: 0px;
    min-height: $spacing-unit * 1.865;
    line-height: $base-line-height * $base-font-size * 2.25;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.site-title {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include relative-font-size(1.625);
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    @include media-query($on-palm) {
        padding-right: 45px;
    }

    img {
        width: 140px;
        height: 50px;
    }

    a {
        display: block;
    }

    &,
    &:visited {
        color: $site-title-color;
    }
}

.footer-col-wrapper {
    align-items: flex-start;
}

.site-footer {
    font-size: $small-font-size;
    line-height: 1.5;
    border-top: 0px;
    border-bottom: 4px solid $border-color-03;
    padding: $spacing-unit 0;
}

.site-footer p,
.site-footer li {
    margin: 0;
    line-height: inherit;
}

.intro-image {
    position: relative;
    margin-top: -3rem; /* compensate for intro top margin */
    margin-bottom: 3rem;
    img {
        width: 100%;
    }
}

hr {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0)
    );
    background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    background-image: -ms-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.love {
    display: inline-block; // allow transform animation
    vertical-align: -0.05em;
    font-size: 1.2em;
    color: #ff3b30;
    animation: love 0.6s infinite ease-in-out;
}

@keyframes love {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.1);
    }
}

/**
 * Links
 */
a.post-link {
    color: $text-color;

    &:visited {
        color: $text-color;
    }
}

dt:not(:first-child) {
    margin-top: $spacing-unit * 0.5;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: $spacing-unit;
}

iframe {
    margin-bottom: 1em;
}
